.contact {
  background: var(--surface-white);
  /* To separate the footer */
  padding-bottom: 2rem;
  padding-top: 6rem;
  border-top: var(--border-light);
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-bottom: 2rem;
}

.contact-headline {
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.2;
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.contact-sub {
  font-size: 1.5rem;
  font-family: var(--font-body);
  color: var(--text-primary);
  font-weight: 600;
}

.say-hi-link {
  color: var(--accent-orange);
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.say-hi-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent-orange);
}

.wave {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-title {
  font-size: 0.9rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  color: var(--text-primary);
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}

.info-desc {
  font-size: 1.1rem;
  color: var(--text-secondary);
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

.footer-nav a {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--text-secondary);
  transition: all var(--transition-fast);
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: var(--text-primary);
}


@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact-headline {
    font-size: 2.5rem;
  }

}